<a href="https://colab.research.google.com/github/tensorbytes0202/Machine-learning/blob/main/Copy_of_pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dict1 ={
    "name":['harry','rohan','skillf','shubh'],
    "marks":[12,34,24,17],
    "city":['ghaziabad','kolkata','Delhi','antartica']
}

In [ ]:
df =pd.DataFrame(dict1)

In [ ]:
df

In [ ]:
df.to_csv('friends.csv')

In [ ]:
df.to_csv('friends_index_false.csv',index=False)

In [ ]:
df.head()#for 5 rows

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
book = pd.read_csv('sample.csv')

In [ ]:
book

In [ ]:
book['Speed'][0]

In [ ]:
book['Speed'][0]  = 40

In [ ]:
book

In [ ]:
book.to_csv('sample.csv')

In [ ]:
book.index = ['first','second','third', 'fourth','fifth']

In [ ]:
book

it provides rich and highly robust data operations

pandas has two types of data structure
a. Series - it's a one D array with indexes ,it stores a single column or row of data in DataFrame
b.Dataframe - its a tabu,=lar spreadsheet like structure representing rows each of which contains one or multiplw columns
one -D array(labeled) capable of holding any type of data-series
2-d data(labeled) structure wih columns of potentially different types of data-DataFrame

In [ ]:
ser = pd.Series(np.random.rand(3455))

In [ ]:
ser

In [ ]:
type(ser)

In [ ]:
newdf = pd.DataFrame(np.random.rand(334,5),index=np.arange(334) )

np.random.rand() uniform distribution follow karta hai.

Matlab: Har value ka chance equal hai aane ka, chahe wo 0.1 ho ya 0.9.

Range:

Minimum: 0 (inclusive)

Maximum: 1 (exclusive, yani kabhi 1 exact nahi aayega).

Ye numbers decimal (floating point) hote hain.

np.random.rand(334,5)

Ye NumPy function hai.

Ye ek 2D array banata hai jisme random floating-point numbers hote hain 0 aur 1 ke beech.

Shape (334,5) ka matlab:

334 rows

5 columns

pd.DataFrame(...)

Ye pandas ka DataFrame banata hai (Excel sheet jaisa table).

Usko input diya gaya hai upar wala random numbers ka array.

index=np.arange(334)

np.arange(334) banata hai 0,1,2,...,333 tak ek array (total 334 values).

Ye rows ke index (row labels) ban jaate hain DataFrame ke.

ðŸ”¹ Net Result:

newdf ek DataFrame hai:

334 rows

5 columns

Har cell me ek random number between 0 and 1

Index (row labels) = 0 se 333 tak

In [ ]:
newdf

In [ ]:
newdf.describe()

In [ ]:
newdf.dtypes

In [ ]:
newdf[0][0] = "harry"

In [ ]:
newdf.dtypes

In [ ]:
newdf.head()

In [ ]:
newdf.index

In [ ]:
newdf.columns

In [ ]:
newdf.to_numpy() # ye numpy array me convert karne ke liye h

In [ ]:
newdf[0][0] =0.3

In [ ]:
newdf.head()

In [ ]:
newdf.T

In [ ]:
newdf

In [ ]:
newdf.sort_index(axis =0, ascending = False)

In [ ]:
newdf.sort_index(axis =1, ascending = False)

In [ ]:
newdf2= newdf

In [ ]:
newdf2[0][0] = 9783

In [ ]:
newdf

In [ ]:
newdf.loc[0,0] = 654

In [ ]:
newdf.head(2)

In [ ]:
newdf.columns = list("ABCDE")

In [ ]:
newdf.head(2)

In [ ]:
newdf.loc[0,'A'] = 65445

In [ ]:
newdf.head()

In [ ]:
newdf =newdf.drop(1,axis=0)

In [ ]:
newdf.head()

ðŸ”‘ Use of loc[] in Pandas

loc[] ka use kar ke hum:

Specific rows select kar sakte hain (row labels ke basis pe).

Specific columns select kar sakte hain (column labels ke basis pe).

Condition laga kar filter kar sakte hain.

Rows aur Columns ka subset ek saath le sakte hain.

Data update/modify bhi kar sakte hain.

In [ ]:
newdf.loc[[0,2] , ['C','D']]

In [ ]:
newdf.loc[(newdf['A']<0.3)]